
/*main content for all pages*/
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
main {
    display: flex;
    flex-direction:row;
}
body{
    margin: 0;
    margin-top: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #7cc4f8;
   
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main{
    background-color: #dff8ff;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 25px;
    color: #ffee15;
    
}
h2{
    text-align: center;
    padding: 12px 0px;
    font-size: 36px;
}

.maincontent {
        max-width: 600px;
        padding: 15px;
        background-color: white;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }
    
.heading__navigation{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding-right: 30px;
    text-align: center;
   
    
}

.navigation__navlink{
    margin: 0 5px;
    color: white;
}
footer{
    text-align: center;
    background-color: #7cc4f8;
    color:white;
    padding: 10px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.characters{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*about page */
.about__image{
    display: block;
    float:left;
    padding: 5px 5px 0px 0px;
    
}

/*music page */
.soundtrack{
    text-align: center;
    padding-bottom: 50;
}


.musicnote {
    animation: hover 4s infinite alternate linear;
  }
  
  @keyframes hover{
    from{
      transform: translateY(opx);
    }
    to{
      transform: translateY(-8px);
    }
  }


/*home page */
    .Welcomeinfo{
        text-align: center;
    }
    .characters{
        padding: 10;
    }

/*cast page */
.maincast {
    margin: 25px;
    display: grid;
    grid-template-areas: 
    "title"
    "main_p"
    "cast";
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .3fr 1fr;
}

.cast_card__container { 
    grid-area: cast;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax( 250px,1fr));
    grid-auto-rows: 300px;
    justify-items: center;
    align-items: center;
    font-size: 18pt;
}
.title {
    grid-area: title;
    display: grid;
    font-size: 36pt;
    font-style: bold;
    justify-items: center;
    align-items: center;
    margin: 10px;
}  
.main_p {
    grid-area: main_p;
    margin: 25px;
    text-align: start;
    font-size: 16pt;
}
  .cast_card {
    width: 220px;
    height: 230px;
    box-shadow: var(--gray) 4px 4px 10px 2px;
    border-radius: 3px;
    background-color: #7CC4F8;
  }
  
  .cast_card__img1 {
    height: 100px;
    width: 100px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .cast_card__img2 {
    height: 100px;
    width: 100px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .cast_card__text {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 20px;
    height: 84px;
  }
  .PotatoHeadText {
    font-size: 16.5pt;
    padding-top: 5px;
  }